## Q-1) Scrape the details of most viewed videos on YouTube from Wikipedia:

In [1]:
# installing selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\nitish\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\nitish\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
# importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [100]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [101]:
# send get request to the webpage server to get the source code of the page
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver.get(url) 
time.sleep(6)

In [102]:
# Maximize current window
driver.maximize_window()

In [103]:
driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table/tbody/tr/td/span/a').click()

In [104]:
driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[4]/div[3]/ul/li[1]/div[1]/a').click()

In [105]:
# empty lists
rank=[]
video_name=[]
uploader=[]
views=[]
upload_date=[]

In [106]:
# scraping rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        rank.append(i.text)
except NoSuchElementException:
    rank.append("---")

# scraping video name   
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        video_name.append(i.text)
except NoSuchElementException:
    video_name.append("---")

# scraping uploader    
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        uploader.append(i.text)
except NoSuchElementException:
    uploader.append("---")
    
# scraping upload date
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append("---")

# scraping views   
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        views.append(i.text)
except NoSuchElementException:
    views.append("---")

In [107]:
wiki=pd.DataFrame({})            # making dataframe
wiki['Rank']=rank
wiki['Name']=video_name
wiki['Artist']=uploader
wiki['Upload_date']=upload_date
wiki['Views']=views

wiki

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.46
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.58
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.19
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.37
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.31
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.24
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.13
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.02
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.48
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.18
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.08
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.08
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
27,28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.90
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.89
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.86

In [108]:
driver.close() # to close current browser window

## Q-2) Scrape the details team India’s international fixtures from bcci.tv.

In [141]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [142]:
# send get request to the webpage server to get the source code of the page
url = 'https://www.bcci.tv/'
driver.get(url) 
time.sleep(6)

In [143]:
# Maximize current window
driver.maximize_window()

In [144]:
# opening the option form
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [145]:
# clicking on international fixture
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [153]:
# empty lists
title=[]
series=[]
place=[]
date=[]
time=[]

In [154]:
# scraping match title tags
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    title.append(i.text)

# scraping series
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(i.text)
    
# scraping places
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(i.text)
    
# scraping date
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    date.append(i.text.replace('15:30 IST',''))

# scraping time
for i in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]"):
    time.append(i.text)

In [155]:
bcci=pd.DataFrame({})            # making dataframe
bcci['Match Title']=title
bcci['Series']=series
bcci['Place']=place
bcci['Date']=date
bcci['Time']=time

bcci

,Match Title,Series,Place,Date,Time
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday\n04\nAUGUST\n,15:30 IST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday\n12\nAUGUST\n,15:30 IST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday\n25\nAUGUST\n,15:30 IST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday\n02\nSEPTEMBER\n,15:30 IST
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday\n10\nSEPTEMBER\n,15:30 IST

In [156]:
driver.close() # to close current browser window

## Q-3) Scrape the details of selenium exception from guru99.com.

In [78]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [79]:
# send get request to the webpage server to get the source code of the page
url = 'https://www.guru99.com/'
driver.get(url) 
time.sleep(6)

In [80]:
# Maximize current window
driver.maximize_window()

In [81]:
# clicking on selenium 
driver.find_element_by_xpath("/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a").click()

In [82]:
# clicking on selenium exceptional handling page
driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a").click()

In [83]:
# empty list
name=[]
descp=[]

In [86]:
# scraping exception names
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    name.append(i.text)
    name.pop(0)

# scraping description tags of exception
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    descp.append(i.text)
    descp.pop(0)

In [87]:
guru99=pd.DataFrame({})            # making dataframe
guru99['Name']=name
guru99['Description']=descp

guru99

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [88]:
driver.close() # to close current browser window

## Q-4) Scrape the details of State-wise GDP of India from statisticstime.com.

In [89]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [90]:
# send get request to the webpage server to get the source code of the page
url = ' http://statisticstimes.com/'
driver.get(url) 
time.sleep(6)

In [91]:
# Maximize current window
driver.maximize_window()

In [93]:
# clicking on economy page
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [94]:
# clicking on india page
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [95]:
# clicking on indian states wise GDP page
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [133]:
# empty lists
rank=[]
state=[]
gsdp_1=[]
gsdp_2=[]
share=[]
gdp=[]

In [134]:
# scraping rank tags
for i in driver.find_elements_by_xpath("//table[@class='display dataTable1']/tbody/tr/td[1]"):
    rank.append(i.text)
    
# scraping state tags
for i in driver.find_elements_by_xpath("//table[@class='display dataTable1']/tbody/tr/td[2]"):
    state.append(i.text)

# scraping gsdp (19-20) tags
for i in driver.find_elements_by_xpath("//table[@class='display dataTable1']/tbody/tr/td[3]"):
    gsdp_1.append(i.text)

# scraping gsdp (18-19) tags
for i in driver.find_elements_by_xpath("//table[@class='display dataTable1']/tbody/tr/td[4]"):
    gsdp_2.append(i.text)
    
# scraping share tags
for i in driver.find_elements_by_xpath("//table[@class='display dataTable1']/tbody/tr/td[5]"):
    share.append(i.text)
    
# scraping gdp tags
for i in driver.find_elements_by_xpath("//table[@class='display dataTable1']/tbody/tr/td[6]"):
    gdp.append(i.text)

In [136]:
India_gdp=pd.DataFrame({})            # making dataframe
India_gdp['Rank']=rank
India_gdp['State']=state
India_gdp['GSDP at current price (19-20)']=gsdp_1
India_gdp['GSDP at current price (18-19)']=gsdp_2
India_gdp['Share']=share
India_gdp['GDP($billion)']=gdp

India_gdp

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share,GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [137]:
driver.close() # to close current browser window

## Q-5) Scrape the details of trending repositories on Github.com.

In [3]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [4]:
# send get request to the webpage server to get the source code of the page
url = 'https://github.com/'
driver.get(url) 
time.sleep(6)

In [5]:
# Maximize current window
driver.maximize_window()

In [8]:
# clicking on explore 
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

In [9]:
# clicking on trending option
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a").click()

In [10]:
title=[] # empty list
# scraping repository title 
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
    title.append(i.text)
title

['apple / swift-algorithms',
 'freeCodeCamp / freeCodeCamp',
 'SJang1 / korea-covid-19-remaining-vaccine-macro',
 'dataease / dataease',
 'google / googletest',
 'myspaghetti / macos-virtualbox',
 'tailscale / tailscale',
 'electron / electron',
 'Satsuoni / widevine-l3-guesser',
 'jonathandata1 / pegasus_spyware',
 'bradtraversy / 50projects50days',
 'openai / triton',
 'covidpass-org / covidpass',
 'mschweiger / orbiter',
 'ed3ath / cbtracker',
 '521xueweihan / HelloGitHub',
 'xamarin / xamarin-forms-samples',
 'PyTorchLightning / pytorch-lightning',
 'google / accompanist',
 'rafaballerini / rafaballerini',
 'Anbox-halium / anbox-halium',
 'timb-machine / linux-malware',
 'pittcsc / Summer2022-Internships',
 'unoplatform / uno',
 'EbookFoundation / free-programming-books']

In [11]:
desc=[] # empty list
# scraping repository description
try:
    for i in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
        desc.append(i.text)
except NoSuchElementException:
    desc.append("--")

In [12]:
# inserting '--' to selected index positions 
desc.insert(8,'--')
desc.insert(19,'--')
desc.insert(20,'--')

In [13]:
desc

['Commonly used sequence and collection algorithms for Swift',
 "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 '잔여백신 조회 및 예약 매크로',
 '人人可用的开源数据可视化分析工具。',
 'GoogleTest - Google Testing and Mocking Framework',
 'Push-button installer of macOS Catalina, Mojave, and High Sierra guests in Virtualbox for Windows, Linux, and macOS',
 'The easiest, most secure way to use WireGuard and 2FA.',
 'Build cross-platform desktop apps with JavaScript, HTML, and CSS',
 '--',
 'decompiled pegasus_spyware',
 '50+ mini web projects using HTML, CSS & JS',
 'Development repository for the Triton language and compiler',
 'Web app for adding EU Digital COVID Certificates to your wallet apps',
 'Open-source repository of Orbiter Space Flight Simulator',
 'Please do not use this tracker to scam anyone! This is free and will be forever free. This tracking will never ask for seed phrases nor private keys. Keep safe!',
 '分享 GitHub 上有趣、入门级的开源项目',
 'Sample apps built using the Xamarin.Forms framework',
 'The lightweight PyTorch wrapper for high-performance AI research. Scale your models, not the boilerplate.',
 'A collection of extension libraries for Jetpack Compose',
 '--',
 '--',
 'Tracking interesting Linux (and UNIX) malware. Send PRs',
 'Collection of Summer 2022 tech internships!',
 'Build Mobile, Desktop and WebAssembly apps with C# and XAML. Today. Open source and professionally supported.',
 '📚 Freely available programming books']

In [15]:
# making empty lists    
repo_urls=[]
Contributors_count=[]
Language_used=[]

In [16]:
#scraping repositories urls
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2)

In [17]:
for i in repo_urls: # running loop
    driver.get(i)
    l=[]
    time.sleep(3)
    
    #scraping contributors count
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
    time.sleep(2)
    
     #scraping languages used   
    languages=driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)

In [20]:
github=pd.DataFrame({})            # making dataframe
github['Repository title']=title
github['Repository description']=desc
github['Contributors count']=Contributors_count
github['Languages used']=Language_used

github

,Repository title,Repository description,Contributors count,Languages used
0,apple / swift-algorithms,Commonly used sequence and collection algorith...,34,[Swift]
1,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,283","[JavaScript, TypeScript, CSS, Shell, HTML, EJS]"
2,SJang1 / korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,10,[Python]
3,dataease / dataease,人人可用的开源数据可视化分析工具。,9,"[Java, Vue, PLpgSQL, JavaScript, CSS, HTML]"
4,google / googletest,GoogleTest - Google Testing and Mocking Framework,334,"[C++, Python, CMake, C, Starlark, Shell, Makef..."
5,myspaghetti / macos-virtualbox,"Push-button installer of macOS Catalina, Mojav...",20,[Shell]
6,tailscale / tailscale,"The easiest, most secure way to use WireGuard ...",61,"[Go, Shell, HTML, CSS, C, Nix]"
7,electron / electron,Build cross-platform desktop apps with JavaScr...,"1,059","[C++, TypeScript, JavaScript, Objective-C++, H..."
8,Satsuoni / widevine-l3-guesser,--,No details available,"[C, C++]"
9,jonathandata1 / pegasus_spyware,decompiled pegasus_spyware,No details available,"[Smali, Java]"
10,bradtraversy / 50projects50days,"50+ mini web projects using HTML, CSS & JS",25,"[CSS, HTML, JavaScript]"
11,openai / triton,Development repository for the Triton language...,23,"[C++, Python]"
12,covidpass-org / covidpass,Web app for adding EU Digital COVID Certificat...,11,"[TypeScript, Dockerfile, JavaScript]"
13,mschweiger / orbiter,Open-source repository of Orbiter Space Flight...,2,"[C++, HTML, C, MATLAB, Lua, CMake]"
14,ed3ath / cbtracker,Please do not use this tracker to scam anyone!...,6,"[JavaScript, CSS]"
15,521xueweihan / HelloGitHub,分享 GitHub 上有趣、入门级的开源项目,11,[Python]
16,xamarin / xamarin-forms-samples,Sample apps built using the Xamarin.Forms fram...,67,[C#]
17,PyTorchLightning / pytorch-lightning,The lightweight PyTorch wrapper for high-perfo...,511,[Python]
18,google / accompanist,A collection of extension libraries for Jetpac...,37,"[Kotlin, Shell]"
19,rafaballerini / rafaballerini,--,No details available,[No languages used]
20,Anbox-halium / anbox-halium,--,4,[Shell]
21,timb-machine / linux-malware,Tracking interesting Linux (and UNIX) malware....,2,[No languages used]
22,pittcsc / Summer2022-Internships,Collection of Summer 2022 tech internships!,118,[Python]
23,unoplatform / uno,"Build Mobile, Desktop and WebAssembly apps wit...",191,"[C#, JavaScript, TypeScript, Java, PowerShell,..."
24,EbookFoundation / free-programming-books,📚 Freely available programming books,"1,629",[No languages used]

In [21]:
driver.close() # to close current browser window

## Q-6) Scrape the details of top 100 songs on billboard.com.

In [30]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [31]:
# send get request to the webpage server to get the source code of the page
url = ' https://www.billboard.com/'
driver.get(url) 
time.sleep(6)

In [32]:
# Maximize current window
driver.maximize_window()

In [35]:
# clicking on chart option 
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a").click()

In [38]:
# clicking on hot 100 option 
driver.find_element_by_xpath("/html/body/div[1]/div/nav/div[1]/a[3]").click()

In [39]:
# empty lists
song_name=[]
artist_name=[]
lw_rank=[]
peak_rank=[]
weeks_board=[]

In [40]:
# scraping song name
try:
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append("---")

# scraping artist name
try:
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append("---")

# scraping last week rank
try:
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--last']"):
        lw_rank.append(i.text)
except NoSuchElementException:
    lw_rank.append("---")

# scraping peak rank
try:
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--peak']"):
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append("---")

# scraping weeks on board
try:
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--week']"):
        weeks_board.append(i.text)
except NoSuchElementException:
    weeks_board.append("---")

In [42]:
billboard=pd.DataFrame({})            # making dataframe
billboard['Songs Name']=song_name
billboard['Artist Name']=artist_name
billboard['Last week rank']=lw_rank
billboard['Peak rank']=peak_rank
billboard['Weeks on board']=weeks_board

billboard

,Songs Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,7 LW,1 Pk,9 WoC
1,Good 4 U,Olivia Rodrigo,2 LW,1 Pk,10 WoC
2,Levitating,Dua Lipa Featuring DaBaby,4 LW,2 Pk,42 WoC
3,Stay,The Kid LAROI & Justin Bieber,3 LW,3 Pk,2 WoC
4,Kiss Me More,Doja Cat Featuring SZA,5 LW,3 Pk,15 WoC
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84 LW,56 Pk,10 WoC
96,30,Pop Smoke Featuring Bizzy Banks,,97 Pk,1 WoC
97,You Should Probably Leave,Chris Stapleton,91 LW,90 Pk,3 WoC
98,"Jealousy, Jealousy",Olivia Rodrigo,87 LW,24 Pk,9 WoC
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95 LW,95 Pk,3 WoC

In [43]:
driver.close() # to close current browser window

## Q-7) Scrape the details of Data science recruiters from naukri.com.

In [62]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [63]:
# send get request to the webpage server to get the source code of the page
url = 'https://www.naukri.com/'
driver.get(url) 
time.sleep(6)

In [64]:
# Maximize current window
driver.maximize_window()

In [65]:
#clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

In [66]:
#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

In [67]:
#clicking on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [81]:
# empty list
name=[]
designation=[]
company=[]
skill=[]
loc=[]

In [82]:
# scraping name tags
try:
    for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
        name.append(i.text)
except NoSuchElementException:
    name.append("---")

# scraping designation tags    
try:
    for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
        designation.append(i.text)
except NoSuchElementException:
    designation.append("---")
    
# scraping company tags    
try:
    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
        company.append(i.text)
except NoSuchElementException:
    company.append("---")
    
# scraping skill tags    
try:
    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        skill.append(i.text)
except NoSuchElementException:
    skill.append("---")
    
# scraping location tags
try:
    for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
        loc.append(i.text)
except NoSuchElementException:
    loc.append("---")

In [83]:
# inserting '--' where there was no location tag
loc.insert(26,'--')
loc.insert(46,'--')

In [84]:
naukri=pd.DataFrame({})            # making dataframe
naukri['Name']=name
naukri['Designation']=designation
naukri['Company']=company
naukri['Skills they hire for']=skill
naukri['Location']=loc

naukri

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
22,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",--
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",--
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

In [85]:
driver.close() # to close current browser window

## Q-8) Scrape the details of Highest selling novels.

In [48]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [49]:
# send get request to the webpage server to get the source code of the page
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url) 
time.sleep(6)

In [50]:
# Maximize current window
driver.maximize_window()

In [66]:
# empty lists
book_name=[]
author_name=[]
vol_sold=[]
publisher=[]
genre=[]

In [67]:
# scraping book name
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
        book_name.append(i.text)
except NoSuchElementException:
    book_name.append("---")

# scraping author name
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append("---")

# scraping volumes sold 
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
        vol_sold.append(i.text)
except NoSuchElementException:
    vol_sold.append("---")

# scraping publisher
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append("---")

# scraping genre
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
        genre.append(i.text)
except NoSuchElementException:
    genre.append("---")

In [68]:
Books=pd.DataFrame({})            # making dataframe
Books['Book name']=book_name
Books['Author name']=author_name
Books['Volumes sold']=vol_sold
Books['Publisher']=publisher
Books['Genre']=genre

Books

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [69]:
driver.close() # to close current browser window

## Q-9) Scrape the details most watched tv series of all time from imdb.com.

In [87]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [88]:
# send get request to the webpage server to get the source code of the page
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url) 
time.sleep(6)

In [89]:
# Maximize current window
driver.maximize_window()

In [127]:
# empty list
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
vote=[]
votes = []

In [128]:
# scraping name
try:
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
        name.append(i.text)
except NoSuchElementException:
    name.append("---")

# scraping year
try:
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
        year_span.append(i.text)
except NoSuchElementException:
    year_span.append("---")

# scraping genre
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]"):
        genre.append(i.text)
except NoSuchElementException:
    genre.append("---")

# scraping run time
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]"):
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append("---")

# scraping ratings
try:
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append("---")

# scraping votes
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]"):
        vote.append(i.text)
except NoSuchElementException:
    vote.append("---")
    
for i in range(1,len(vote),2):
    votes.append(vote[i].strip())

In [129]:
imdb=pd.DataFrame({})            # making dataframe
imdb['Name']=name
imdb['Year span']=year_span
imdb['Genre']=genre
imdb['Run Time']=run_time
imdb['Ratings']=ratings
imdb['Votes']=votes 

imdb

,Name,Year span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,845,366"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"883,386"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"884,361"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"265,693"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,656"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,963"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,656"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,376"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,500"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"194,689"

In [ ]:
driver.close() # to close current browser window

## Q-10) Details of Datasets from UCI machine learning repositories.

In [3]:
# connecting to webdriver
driver = webdriver.Chrome(r"C:\Users\Nitish\Downloads\Compressed\chromedriver.exe")
time.sleep(4)

In [4]:
# send get request to the webpage server to get the source code of the page
url = 'https://archive.ics.uci.edu/'
driver.get(url) 
time.sleep(6)

In [5]:
# Maximize current window
driver.maximize_window()

In [6]:
# clicking on view all data set option 
driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").click()

In [50]:
# empty lists
dataset_name=[]
data_type=[]
task=[]
attr_type=[]
instances=[]
no_of_attr=[]
year=[]

In [51]:
# scraping dataset names
try:
    for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
        dataset_name.append(i.text)
except NoSuchElementException:
    dataset_name.append("---")

# scraping datatype   
try:
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]"):
        data_type.append(i.text)
except NoSuchElementException:
    data_type.append("---")

# scraping default tasks 
try:
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]"):
        task.append(i.text)
except NoSuchElementException:
    task.append("---")

# scraping attribute types    
try:
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]"):
        attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("---")

# scraping instances  
try:
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]"):
        instances.append(i.text)
except NoSuchElementException:
    instances.append("---")

# scraping number of attributes  
try:
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]"):
        no_of_attr.append(i.text)
except NoSuchElementException:
    no_of_attr.append("---")

# scraping year tags
try:
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]"):
        year.append(i.text)
except NoSuchElementException:
    year.append("---")

In [52]:
year.pop(0) # to eliminate the 0th indexed item

'Year'

In [53]:
data_type.pop(0) # to eliminate the 0th indexed item

'Data Types'

In [54]:
task.pop(0) # to eliminate the 0th indexed item

'Default Task'

In [55]:
attr_type.pop(0) # to eliminate the 0th indexed item

'Attribute Types'

In [56]:
instances.pop(0) # to eliminate the 0th indexed item

'# Instances'

In [57]:
no_of_attr.pop(0) # to eliminate the 0th indexed item

'# Attributes'

In [60]:
archive=pd.DataFrame({})          # making dataframe
archive['Dataset name']=dataset_name
archive['Datatype']=data_type
archive['Task']=task
archive['Attribute type']=attr_type
archive['No of instances']=instances
archive['No of attribute']=no_of_attr
archive['Year']=year

archive

,Dataset name,Datatype,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [61]:
driver.close() # to close current browser window